/* MyAccountComponent.module.css */

.container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 300px;
  }
  
  .section {
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-bottom: 6px;
  }
  
  .header {
    font-weight: 600;
    margin-bottom: 32px;
  }  